## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Imports the Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
#ImportS the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Leu,RE,-21.1500,55.2833,82.40,74,75,6.91,light rain
1,1,Sadovoye,RU,47.7764,44.5089,21.02,76,15,14.18,few clouds
2,2,Hay River,CA,60.8156,-115.7999,-41.80,66,34,4.61,scattered clouds
3,3,Mataura,NZ,-46.1927,168.8643,52.79,90,99,1.83,overcast clouds
4,4,Albany,US,42.6001,-73.9662,24.01,66,100,7.34,snow

In [3]:
#PromptS the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature (F) you would like for your vacation destination? '))
max_temp = float(input('What is the maximum temperature (F) you would like for your vacation destination? '))

What is the minimum temperature (F) you would like for your vacation destination? 75
What is the maximum temperature (F) you would like for your vacation destination? 90

In [4]:
#Filters the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)].dropna()

In [5]:
#Determines if there are any empty rows.
preferred_cities_df.count()

City_ID                227
City                   227
Country                227
Lat                    227
Lng                    227
Max Temp               227
Humidity               227
Cloudiness             227
Wind Speed             227
Current Description    227
dtype: int64

In [6]:
#Drops any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
#####used dropna() function on #3 to drop any empty rows

In [7]:
#Creates DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.tail(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
698,Safaga,EG,75.20,clear sky,26.7292,33.9365,
699,Luangwa,ZM,81.46,light rain,-15.6167,30.4167,
701,Manadhoo,MV,81.93,broken clouds,5.7667,73.3833,
703,Wiang Sa,TH,78.80,few clouds,8.6359,99.3666,
706,Japura,ID,76.26,overcast clouds,-0.3167,102.3500,
708,Araouane,ML,78.12,overcast clouds,18.9048,-3.5265,
711,Ambulu,ID,77.41,moderate rain,-8.3450,113.6058,
712,Kathu,TH,86.00,broken clouds,7.9178,98.3332,
715,Mana,GF,79.84,overcast clouds,5.6592,-53.7767,
719,Camocim,BR,83.77,few clouds,-2.9022,-40.8411,

In [8]:
#Sets parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#Iterates through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f'{lat}, {lng}'
    
    #Sets up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    #Makes request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    #Gets the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    
    except:
        print('Hotel not found... Skipping')

Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping

In [9]:
#Drops the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df['Hotel Name']!= '']

clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Leu,RE,82.40,light rain,-21.1500,55.2833,La Caz Oceane
5,Salalah,OM,75.20,broken clouds,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
6,Oistins,BB,84.20,scattered clouds,13.0667,-59.5333,Butterfly Beach Hotel
12,Butaritari,KI,80.73,clear sky,3.0707,172.7902,Isles Sunset Lodge
13,Flic En Flac,MU,81.00,light rain,-20.2742,57.3631,Hilton Mauritius Resort & Spa
16,Banyuwangi,ID,76.21,heavy intensity rain,-8.2325,114.3576,Hotel Blambangan
18,Vaini,TO,77.00,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
19,Benjamin Aceval,PY,84.20,clear sky,-24.9667,-57.5667,Escuela AgrÃ­cola y Hotel Cerrito
21,Buala,SB,78.96,overcast clouds,-8.1450,159.5921,Maringe Lagoon Lodge
23,Saint-Philippe,RE,82.40,broken clouds,-21.3585,55.7679,"Chambres d'hÃ´te ""La TrinitÃ©"""
25,Ilo,PE,75.74,overcast clouds,-17.6394,-71.3375,Torreblanca Hotel
27,Mayumba,GA,82.51,moderate rain,-3.4320,10.6554,LIKWALE LODGE
29,Avarua,CK,77.00,light rain,-21.2078,-159.7750,Paradise Inn
30,Rikitea,PF,77.05,overcast clouds,-23.1203,-134.9692,Pension Maro'i
43,Atar,MR,76.89,clear sky,20.5169,-13.0499,Oumou Elghoura
45,Tamandare,BR,85.69,overcast clouds,-8.7597,-35.1047,Pousada 100 Passos
49,Carnarvon,AU,78.80,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
51,Harper,LR,84.99,overcast clouds,4.3750,-7.7169,Screensaver
54,Meulaboh,ID,80.22,few clouds,4.1363,96.1285,Kost Pria
59,Point Pedro,LK,78.04,scattered clouds,9.8167,80.2333,Gtr homes

In [13]:
#Creates the output File (CSV)
output_data_file = '../Vacation_Search/WeatherPy_vacation.csv'


#Exports the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
#Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>


</dl>
"""

#Gets the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

#Gets the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
#Adds a marker layer for each city to the map. 
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

#Displays the figure
fig

Figure(layout=FigureLayout(height='420px'))